<li>

	<button type="button" class="btn btn-default btn-lg change-devoured"  data-id="{{this.dataValues.id}}">
	<span class="glyphicon glyphicon-piggy-bank"></span> 	{{this.dataValues.burger_name}} 
	</button>

	
</li>


